
html{
    background-image:url(images/kaamelott-livre-v-720px.jpg);
    background-size: cover;
    font-family: 'Special Elite', cursive;
}

.page2{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.tete{
    width: 100%;
    height: 8%;        
}

header{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-flex;
}

#logo{
    background-image: url(images/75bb50f.png);
    background-size: cover;
    width: 5%;
    z-index: 1;
}

h1{
    width:100%;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    position: absolute;
}

.principale{
    width: 100%;
    height: 84%;
    display: flex;
}

.avant{
    width: 15%;
    height: 100%; 
}

.corp{
    width: 70%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    flex-flow: column;
}

h2{
    width: 100%;
    height: 5%;
    color:antiquewhite;
    text-shadow: 3px 3px 6px hsl(0, 70%, 50%);
}


.apres{
    width: 15%;
    height: 100%;
}

.pied{
    width: 100%;
    height: 8%;
    background-color: rgba(0, 0, 0, 0.7);
}

main{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    height: 90%;
    padding: 10px; 
    
}

#char1{
    opacity:0;
    transition: 2s;
}

#perso-1:hover #char1{
    opacity:0.7;
    color: antiquewhite;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 1);
    transform: scale(1.05);
}

#char2{
    opacity:0;
    transition: 2s;
}

#perso-2:hover #char2{
    opacity:0.7;
    color: antiquewhite;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 1);
    transform: scale(1.05);
}

#char3{
    opacity:0;
    transition: 2s;   
}

#perso-3:hover #char3{
    opacity:0.7;
    color: antiquewhite;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 1);
    transform: scale(1.05);
}

#char4{
    opacity:0;
    transition: 2s;
}

#perso-4:hover #char4{
    opacity:0.7;
    color: antiquewhite;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 1);
    transform: scale(1.05);
}

#char5{
    opacity:0;
    transition: 2s;   
}

#perso-5:hover #char5{
    opacity:0.7;
    color: antiquewhite;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 1);
    transform: scale(1.05);
}

#char6{
    opacity:0;
    transition: 2s;   
}

#perso-6:hover #char6{
    opacity:0.5;
    color: antiquewhite;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 1); 
    transform: scale(1.05);
}


#perso-1{
    background-image:url(images/s591v1.jpg);
    background-size: cover;
    width: 30%;
    height: 45%;
    padding: 1%;
    position: relative;
    font-size: 20px;
}

#perso-2{
    background-image:url(images/s592v1.jpg);
    background-size: cover;
    width: 30%;
    height: 45%;
    padding: 1%;
    position: relative;
    font-size: 20px;
}

#perso-3{
    background-image:url(images/s593v1.jpg);
    background-size: cover;
    width: 30%;
    height: 45%;
    padding: 1%;
    position: relative;
    font-size: 20px;
}

#perso-4{
    background-image:url(images/s594v1.jpg);
    background-size: cover;
    width: 30%;
    height: 45%;
    padding: 1%;
    position: relative;
    font-size: 20px;
}

#perso-5{
    background-image:url(images/s595v1.jpg);
    background-size: cover;
    width: 30%;
    height: 45%;
    padding: 1%;
    position: relative;
    font-size: 20px;
}

#perso-6{
    background-image:url(images/s596v1.jpg);
    background-size: cover;
    width: 30%;
    height: 45%;
    padding: 1%;
    position: relative;
    font-size: 20px;
}



h3{
    margin-top: 200px;
}
a{
    text-decoration: none;
    color: antiquewhite;
}

@media screen and (max-width: 1200px) {
  .corp .vignette {
    width: 45%;
  }
    html{
        height: 100%
    }
}

@media screen and (max-width: 600px) {
  .corp .vignette {
    width: 100%;
  }
}

