*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(../image/kaamelott_alexandre_astier_fond_ecran_fan_sevie_tv_wallpaper_HD.jpg);
    background-size: cover;  
    display: flex;
    
}

#sec-gauche{
    background-color:rgba(0, 0, 0, 0.65);
    width: 20vw;
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
}

#logo{
    width: 60%;
    height: 70%;
}

#texte{
    margin: 10px;
    color: white;
}

#menu{
    display: flex;
   justify-content: center;
}

#rav{
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: flex-end;
}

#aventure{
    color: white;
    background-color: red;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

#aventure:hover{
    background-color: green;
}
#fbinsta{
    display: flex;
    width: 100%;   
    justify-content: center;
    margin-top: 20px;
}

.fb{
    width: 100%;
    margin-right: 10px;
}

#face{
    justify-content: center;
}

.insta{
    width: 20%;
    margin-left: 10px;
}

#grame{
    justify-content: center;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
#lien{
    width: 80vw;
    height: 100vh;
    align-items: flex-end;
    display: flex;
}
#copi{
    margin-top: 100px;
    text-align: center;
}

.bouton{
    background-color:rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    color: white
}

.bouton:hover{
    background-color:rgba(0, 0, 0, 0.65);
}

