*{
    padding: 0px;
    margin: 0px;
}

header{
   
    justify-content: center;
    width: 100%;
    height: 30%;
    background-color: darkgray;
}
body{
    background-color: gainsboro;
}
h1{
    font-size: 80px;
    text-align: center;
    padding:10px;
}
h2{
    font-size: 30px;
    text-align: center;
}
h3{
    font-size: 25px;
    text-align: center;
    padding: 50px;

}
article{
    display: flex;
    width:100%;
    justify-content: space-around;
}
p{
    font-size: 20px;
    width:60%;
    padding: 5%;
}
image {
    width:30%;
}